name: Build Sphinx Documentation

on:
    push:
        branches:
        - main
    pull_request:
        branches:
        - 2-add-continuous-integration

jobs:
  build:
    runs-on: ubuntu-latest  # You can also use `windows-latest` or `macos-latest` if needed

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'  # Set your preferred Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install sphinx
        pip install sphinx_rtd_theme
        # Install missing dependencies
        pip install opencv-python numpy pandas
        pip install tqdm scipy
        pip install matplotlib
        pip install codecarbon

    - name: Build the documentation
      run: |
        # Generate reStructuredText files from the source code
        sphinx-apidoc -o sphinx/ src/ -f

        rm -rf docs/
          
        # Ensure the docs directory exists
        mkdir -p docs

        # Build the HTML documentation
        sphinx-build -b html sphinx/ docs/
        pwd

        # Add a .nojekyll file to bypass Jekyll processing on GitHub Pages
        touch ./docs/.nojekyll
  
    - name: Commit and push generated docs
      run: |
        git config --global user.email "dw42@email.sc.edu"  # Replace with your email
        git config --global user.name "Dallas Wade"  # Replace with your name
        git add docs/ -f
        git commit -m "Add generated Sphinx documentation"
        git push origin main
